body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 50px;
}
.back-ground {
    background: url(https://images.unsplash.com/photo-1521815049196-8a76f26a2135?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjA0fHxhZXN0aGV0aWMlMjBob3NwaXRhbHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 97%;
    padding: 20px;
    
}
nav {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  font-family: rockwell, serif;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
.prms-head {
    font-family: rockwell, serif;
    font-size: 35px;
    color: #fff;
    
}
.content h1 {
    font-weight: 200;
}

.content {
    width: 50%;
    padding: 20px;
    background: rgba(0, 0, 0, .4);
    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, .5);
    width: 80%;
    border-radius: 15px;
    color: white;
}
.mother-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.content p {
    color: white;
    font-family: rockwell, serif;
    font-size: 25px;
    text-align: justify;
}

.icon-pulse {
    color: #fff;
    font-size: 100px;
    cursor: pointer;
}
.one {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;

    margin-top: 20%;
}
.logos div {
    margin-left: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    align-items: center;
    transition: .5s ease-in-out;

    font-size: 1.5rem;
    padding: 4px;
}
.logos div:hover {
    border-radius: 50%;
    transition: .5s ease-in-out;
    transform: scale(1.5);

    color: rgb(15, 149, 238);
    cursor: pointer;
}
.logo-one {
    width: 50%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-content: center;
}

.content-2 {
    width: 70%;
    padding: 20px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, .5);
    border-radius: 15px;
    margin-top: 3%;
}
.content-2 p {
    color: #000;
    font-family: rockwell, serif;
    font-size: 25px;
    text-align: justify;
    
}
